/* Mobile Nav ---------------------------------------------------------------*/

.mobile .triplebar {
    display: block;
    position: fixed;
    z-index: 101;
}

.mobile #logo {
    display: fixed;
    margin-left: calc(50vw - 3.25rem);
}

.mobile .mobileMenu {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    margin-left: -16rem;
    width: 14rem;
    height: 100vh;
    padding: 5rem 2.2rem;
    background: #232323;
    box-shadow: 0 0 1rem #0003;
}

.mobile .mobileMenu a {
    margin-bottom: 1rem;
}
  
.mobile .mobileMenu.expanded {
    margin-left: 0rem;
}
