:root {
    --maxWidth: 1196px;
}

#pullup {
    display: block;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    padding: 5rem 5rem 0rem 5rem;
    background: #222;
    z-index: 1;
    overflow: scroll;
    scroll-behavior: smooth;
}

#pullup.show { top: 6rem; }

#pullupToggle {
    display: block;
    position: absolute;
    left: calc(50vw - 0.75rem);
    top: 0rem;
    padding: 0 0 0 2rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg) scale(1.5, 2.5);
    z-index: 1;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

#pullupToggle::selection { background: none; }

#pullupToggle:hover {
    opacity: 0.5;
}

#pullup .hero::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
}

/* Pullup Hero -------------------------------------------------------------*/

#pullup .hero {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background: url(https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: center;
}

#pullup .hero h1,
#pullup .hero p {
    font-size: 2em;
    text-align: center;
    z-index: 1;
    color: #fff;
    margin-bottom: 1rem;
}

#pullup #pullupContent h1 {
    font-size: 1.68em;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    text-align: center;
}

#pullup .hero p {
    font-size: 1em;
}

/* Pullup Description ------------------------------------------------------*/

#pullup .fullDescription {
    margin: 18rem auto 0 auto;
    max-width: var(--maxWidth);
    width: 100%;
}

#pullup #pullupContent {
    display: none;
}

#pullup #pullupContent.show {
    display: flex;
}

/* About -------------------------------------------------------------------*/

#pullup #profilePhoto {
    display:block;
    position: absolute;
    left: calc(50vw - 4rem);
    top: 16rem;
    width: 8rem;
    height: 8rem;
    margin-bottom: 0;
    object-fit: cover;
    border: solid 0.5rem #222;
    border-radius: 100%;
    z-index: 1;
}

/* Footer -------------------------------------------------------------------*/

#pullup .footer {
    margin: 2rem auto 0 auto;
    border-top: 1px solid #555;
}

#pullup .footer .copyright, #pullup .footer i {
    padding: 0;
    margin: 0;
}

/* Pullup Typography -------------------------------------------------------*/

#pullup h1, #pullup h2, #pullup h3, #pullup h4, #pullup h5, #pullup h6 {
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#pullup h2 {
    border-top: 1px solid #555;
    padding-top: 2rem;
    font-size: 1.35em;
}

#pullup h2:first-of-type {
    border-top: none;
    padding-top: none;
}

#pullup h3 {
    font-size: 1em;
    margin-bottom: 0.5rem;
}

#pullup p, #pullup ul {
    line-height: 1.68em;
    margin-bottom: 1.68em;
}


#pullup ul {
    list-style-type: disc;
    margin-left: 1.2rem;
}

/* Pullup Image + Gallery ----------------------------------------------------*/

#pullup .gallery { 
    display: flex; 
    max-width: 100%; 
    margin: 0 -0.1rem;
}

#pullup img {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 2.5rem;
}

.gallery figure {
    margin: 0.1rem;
}

#pullup figure {
    max-width: 100%;
    margin-bottom: 2.5rem;
    flex: 1;
}

#pullup figure img { margin-bottom: 0.5rem; }

#pullup figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

/* Queries -------------------------------------------------------------------*/

@media (max-width: 600px){
    #pullup { padding: 3.5rem 2.2rem 2rem 2.2rem; }
    #pullup .gallery { flex-direction: column; }
}
